.root {
    -fx-background-color: #111927;
    -fx-font-family: "Arial", sans-serif;
    -fx-font-size: 14px;
    -fx-text-fill: #D4AF37;
}

.table-view .column-header-background {
    -fx-background-color: #222b3a;
}

.table-view .checkbox {
    -fx-background-color: #222b3a;
}

.table-view .table-row-cell {
    -fx-background-color: #111927;
}

.table-view .table-cell {
    -fx-text-fill: #D4AF37;
}

.table-view .column-header-background {
    -fx-background-color: #111927;
}

* {
    -fx-text-fill: #FFD700;
}

.password-field {
    -fx-text-fill: #111927;
}

.text-field {
    -fx-text-fill: #111927;
}

.date-picker .text-field {
    -fx-text-fill: #111927;
}

.date-cell {
    -fx-text-fill: #111927;
}

.date-cell:hover {
    -fx-background-color: #FFD700;
    -fx-text-fill: #111927;
}

.date-picker .month-year-pane .label {
    -fx-text-fill: #111927;
    -fx-font-weight: bold;
}

.date-picker .spinner .button .arrow {
    -fx-background-color: #111927;
    -fx-padding: 5;
}

.date-picker .spinner .button {
    -fx-background-color: white;
}

.slider .thumb {
    -fx-background-color: #FFD700;
}

.combo-box, .combo-box .list-cell {
    -fx-text-fill: #111927;
}

.list-view .list-cell {
    -fx-text-fill: #111927;
}

.list-view .list-cell:hover {
    -fx-background-color: #FFD700;
    -fx-text-fill: #111927;   /* brighter gold on hover */
}

.list-view .list-cell:selected {
    -fx-background-color: #111927;
    -fx-text-fill: #FFD700;
}

.button {
    -fx-background-color: #D4AF37;
    -fx-text-fill: #111927;
    -fx-font-size: 14px;
    -fx-padding: 6px 15px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.table-view .column-header, 
.table-view .column-header .label {
    -fx-text-fill: #111927;
    -fx-font-weight: bold;
}

.table-view .scroll-bar .track {
    -fx-background-color: #111927;
}


.table-view .scroll-bar .thumb {
    -fx-background-color: #D4AF37;
}

.table-view .scroll-bar .thumb:hover {
    -fx-background-color: #FFD700;
}

.table-view .scroll-bar .increment-arrow {
    -fx-background-color: #111927;
}

.table-view .scroll-bar .decrement-arrow {
    -fx-background-color: #111927;
}


.table-view .table-row-cell {
    -fx-background-color: #111927;
}


.table-view .table-cell {
    -fx-text-fill: #D4AF37;
}

.table-view .table-row-cell:filled:selected {
    -fx-background-color: #0b1a36;
}

.table-view .table-row-cell:filled:selected .table-cell {
    -fx-text-fill: #FFD700;
}


